// Cards
//
// .card - Default card class
//
// markup:
// <div class="{$modifiers}">
//   <img class="card__image" />
//   <h3 class="card__header">Raddish</h3>
//   <p class="card__content">
//     Raddish is a new kind of frameworks that is like no other in speed and maintainability. <br/>
//   </p>
//   <p class="card__content">
//     Incorporating the power of MVC and DCI in a single compact framwork, this system knows no competitor.
//   </p>
// </div>
//
// Styleguide 4.1
.card {
  @extend .text--center;

  width: 27%;
  padding: 20px;
  margin: 0 3.15%;
  height: 300px;
  max-height: 300px;
  border: 1px solid $conifer;
  display: inline-block;

  &__iamge {
    width: 100%;
  }

  &__content {
    padding-top: 10px;
  }
}