<ul class="nav nav-stacked">
    <li class="nav-item">
        <a href="{{site.baseurl}}getting-started/essentials" class="dropdown-toggle">
            Essentials
        </a>
        <ul>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/system.html">System</a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/url.html">Url</a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/identifiers.html">Identifiers</a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/config.html">Config</a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/file-structure.html">File Structure</a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/essentials/component-config.html">Component Config</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{site.baseurl}}getting-started/setup" class="dropdown-toggle">
            Setup
        </a>
        <ul>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/setup/application.html">
                    Application
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/setup/component-file.html">
                    Component File
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{site.baseurl}}getting-started/essentials" class="dropdown-toggle">
            Component
        </a>
        <ul>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/dispatcher.html">
                    Dispatcher
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/controller.html">
                    Controller
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/model.html">
                    Model
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/table.html">
                    Table
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/row.html">
                    Row
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/rowset.html">
                    Rowset
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/component/view.html">
                    View
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{site.baseurl}}getting-started/essentials" class="dropdown-toggle">
            Advanced
        </a>
        <ul>
            <li class="nav-item">
                <a href="">
                    Plugins
                </a>
            </li>
            <li class="nav-item">
                <a href="">
                    Logging
                </a>
            </li>
            <li class="nav-item">
                <a href="">

                </a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{{site.baseurl}}getting-started/essentials" class="dropdown-toggle">
            Extras
        </a>
        <ul>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/extras/raddish-ember.html">
                    Raddish-Ember
                </a>
            </li>
            <li class="nav-item">
                <a href="{{site.baseurl}}getting-started/extras/universal-query.html">
                    Universal Query
                </a>
            </li>
        </ul>
    </li>
</ul>