<ul>
    <li class="{% if page.url == '/index.html' %}active{% endif %}">
        <a href="/api/raddish/index.html">Module</a>
    </li>
    <li class="nested {% if page.url == '/api/raddish/classes.html' or page.url contains '/api/raddish/classes/' %}active{% endif %}">
        <a href="/api/raddish/classes.html">Classes</a>

        <ul>
            <li class="{% if page.url == '/api/raddish/classes/application.html' %}active{% endif %}">
                <a href="/api/raddish/classes/application.html">
                    Application
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/command.html' %}active{% endif %}">
                <a href="/api/raddish/classes/command.html">
                    Command
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/controller.html' %}active{% endif %}">
                <a href="/api/raddish/classes/controller.html">
                    Controller
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/database.html' %}active{% endif %}">
                <a href="/api/raddish/classes/database.html">
                    Database
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/dispatcher.html' %}active{% endif %}">
                <a href="/api/raddish/classes/dispatcher.html">
                    Dispatcher
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/error.html' %}active{% endif %}">
                <a href="/api/raddish/classes/error.html">
                    Error
                </a>
            </li>
            <li class="{% if page.url == '/api/raddish/classes/filter.html' %}active{% endif %}">
                <a href="/api/raddish/classes/filter.html">
                    Error
                </a>
            </li>
        </ul>
    </li>
</ul>