<div class="hidden-xs carousel slide slider" data-ride="carousel">
    <div class="carousel-inner">
        <div class="slider__item item" style="background: #cb625f;">
            <h1>A NodeJS Framework</h1>
            <img src="/assets/images/cogs.png" alt=""/>
            <p>
                Raddish is a NodeJS Framework incorporating the power of MVC and DCI in <br/>
                a single framework. <br/>
                Based on output and components this framework is completely decoupled. <br/>
                And perhaps the only framework you will ever need for web applications.
            </p>
        </div>
    </div>
</div>