$columns: 12 !default;
$breakpoints: () !default;
$gutter: (15, 15) !default;

@for $i from 1 through $columns {
  .col#{$i} {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    position: relative;
    float: left;
    width: percentage(1 / $columns * $i);
    padding-left: #{nth($gutter, 1)}px;
    padding-right: #{nth($gutter, 2)}px;
    word-wrap: break-word;
    
    @each $query, $list in $breakpoints {
      @each $from, $to in $list {
        @if $i == $from {
          @include media($query) {
            width: percentage(1 / $columns * $to);
          }
        }
      }
    }
  }
}

@for $i from 1 through $columns {
  .push#{$i} {
    left: percentage(1 / $columns * $i);
    
    @each $query, $list in $breakpoints {
      @each $from, $to in $list {
        @if $i == $from {
          @include media($query) {
            @if $columns - $to == 0 {
              left: 0;
            } @else {
              left: percentage(1 / ($columns - $to) * $i);
            }
          }
        }
      }
    }
  }
}

.clearfix {
  &::after {
    content: " ";
    display: block;
    clear: both;
  }
}

.container {
  width: 1024px;
  margin: 0px auto;
}

.row {
  @extend .clearfix;
  
  margin-bottom: 20px;
}