@mixin media($media) {
  @media #{$media} {
    @content;
  }
}

@mixin border-radius($radius: 3) {
  border-radius: #{$radius}px;
  -moz-border-radius: #{$radius}px;
  -webkit-border-radius: #{$radius}px;
}

@mixin hide($object) {
  @include media($object) {
    display: none;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name, $duration, $limit: 1) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  
  -webkit-animation-iteration-count: $limit;
  -moz-animation-iteration-count: $limit;
  -o-animation-iteration-count: $limit;
  animation-iteration-count: $limit;
  
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}