// Colors
//
// $japonica - Japonice
// $alizarin-crimson - Crimson
// $conifer - Conifer
// $silver - Silver
// $veridian - Veridian
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.2
$white: #ffffff;

$japonica: #d86865;
$alizarin-crimson: #e91c28;
$conifer: #b0d45c;
$silver: #bbbbbb;
$veridian: #3B8F6E;