@import "template/global",
        "template/navigation",
        "template/footer",
        "template/features",
        "template/changelog",
        "template/animations",
        "template/search",
        "template/fonts",
        "template/guide",
        "template/directory",
        "template/api",
        "template/code",
        "template/highlight";

.install {
  &::after {
    display: inline-block;
    content: " ";
    background: $japonica;
    width: 10px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: -3px;
    @include animation(blink, 2s, infinite);
  }
  
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 25px;
  color: $white;
}