@mixin transition($which, $type, $timing) {
  -webkit-transition: #{$which} #{$type} #{$timing};
  -moz-transition: #{$which} #{$type} #{$timing};
  -ms-transition: #{$which} #{$type} #{$timing};
  -o-transition: #{$which} #{$type} #{$timing};
  transition: #{$which} #{$type} #{$timing};
}