// Colors. Manually defined and used in this template.
$chestnut-roze: #cb625f;
$japonica: #d86865;
$alizarin-crimson: #e91c28;
$red: #c7254e;
$white: #ffffff;
$conifer: #b0d45c;
$dusty-gray: #989898;
$dove-gray: #6e6d6d;
$silver: #bbbbbb;
$mercury: #e6e6e6;
$veridian: #3B8F6E;
$black: #000000;

// Breakpoints. Manually defined.
$mobile: '(max-width: 480px)';
$tablet: '(min-width: 480px) and (max-width: 992px)';
$desktop: '(min-width: 992px)';

// Grid settings
//$columns: 16;
//$breakpoints: (
//  $mobile: (3: 6, 4: 12),
//  $tablet: (1: 3, 3: 6, 6: 9, 9: 12)
//);