/** Header variables **/
$header-font: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
$header-weight: 300;
$header-size: 18px;

/** Body variables **/
$body-line-height: 2;
$body-color: #444;
$body-background: #fff;