---
---

.c, .cm, .c1, .cs, .ge, .sd { font-style: italic; }
.gh, .gp, .gu, .gs, .kc, .kd, .kn, .kr, .k, .nc, .ni, .ne, .nn, .nt, .ow, .se, .si { font-weight: bold; }
.hll { background-color: #ffffcc; }
.err { border: 1px solid #FF0000; }
.c, .cm, .c1, .cs { color: #408080; }
.k, .kc, .kd, .kn, .kp, .kr, .nb, .nt, .sx, .bp { color: #008000; }
.go, .o, .m, .mf, .mh, .mi, .mo, .li { color: #666666; }
.gi { color: #00A000; }
.gu { color: #800080; }
.ne, .gr, .gd, .no, .kt, .s, .sb, .sc, .sd, .s2, .sh, .s1 { color: #BA2121; }
.nc, .nf, .nn, .gt { color: #0000FF; }
.gh, .gp, .nv, .ss, .vc, .vg, .vi { color: #19177C; }
.nd, .ow { color: #AA22FF; }
.si, .sr { color: #BB6688; }
.na, .nl { color: #A0A000; }
.ni, .w { color: #bbbbbb; }
.cp, .se { color: #BB6622; }