/* Styleguide 1.0 Settings */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:400,500,700);
* { padding: 0; margin: 0; }

body { font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; border-bottom: 3px solid #d86865; }
h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small { font-size: 50%; font-weight: normal; }

h1 { font-size: 42px; }

h2 { font-size: 36px; }

h3 { font-size: 30px; }

.text--subtle, h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small { color: #bbbbbb; }
.text--green { color: #b0d45c; }
.text--red { color: #d86865; }
