---
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu:400,700&subset=latin,greek,latin-ext);
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";

$chestnut-roze: #cb625f;
$japonica: #d86865;
$alizarin-crimson: #e91c28;
$white: #ffffff;
$conifer: #b0d45c;
$dusty-gray: #989898;
$dove-gray: #6e6d6d;
$silver: #bbbbbb;
$mercury: #e6e6e6;
$veridian: #3B8F6E;

body {
  font-family: 'Open Sans';
  line-height: 1.7em;
  word-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
}

.navbar-raddish {
  border-bottom: 2px solid $alizarin-crimson;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  .navbar-nav {
    padding-top: 5px;
  }
}

.slider {
  height: 305px;
  margin-top: 0px;
  margin-bottom: 10px;

  .slider__item {
    height: 305px;
    padding: 40px 50px 10px;
    color: $white;

    h1 {
      text-transform: none;
    }

    img {
      float: right;
      margin-top: -20px;
    }
  }
}

footer {
  background: $white;
  border-top: 2px solid $alizarin-crimson;
  padding: 15px 0px;
}

.text-center {
  text-align: center;
}

aside {
  &.height {
    ul {
      height: 250px;
      overflow: hidden;
    }

    &::after {
      height: 25px;
      width: 100%;
      background: #FFFFFF;
      content: "...";
    }
  }
}

.method {
  .title,
  .arguments,
  .paren,
  .args-list {
    display: inline-block;
  }

  .args-list {
    .arg {
      display: inline-block;

      &::after {
        content: ",";
      }

      &:last-of-type {
        &::after {
          content: "";
        }
      }
    }

    padding-left: 0;
    list-style: none;
  }

  table {
    &.table {
      td {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .returns {
    p {
      display: initial;
    }
  }
}

.header-icon {
  font-size: 36px;
  display: block;
  text-align: center;
}