---
title: Blog
subtitle: All the news of Raddish
layout: default
permalink: /blog.html
---

{% for post in site.categories.blog %}
    <div class="col-md-12">
        <h2>
            {{post.title}}
        </h2>

        <p class="text-info">
            {{post.date | date: "%d %B %Y"}} by {{post.author}}
        </p>

        {{post.content | split:"<!-- more -->" | first %}}

        <a href="{{post.url}}">Read More</a>

        {% if forloop.last == false %}<hr />{% endif %}
    </div>
{% endfor %}