.api {
  article {
    hr {
      margin: 20px 0;
    }

    table {
      &.table {
        p {
          margin: 0;
        }
      }
    }

    .methods {
      .method {
        .title {
          display: inline-block;
        }
        
        .arguments {
          display: inline-block;
          ul {
            margin: 0;
          }

          .parent,
          ul.inline,
          ul.inline li {
            display: inline-block;
          }

          ul.inline {
            padding-left: 0;
          }

          ul.commas {
            li {
              &::after {
                content: ",";
              }

              &:last-child {
                &::after {
                  content: "";
                }
              }
            }
          }

          .arg {
            color: $red;
          }
          
          &::after {
            content: " ";
            display: block;
          }
        }

        .returns {
          p {
            display: inline-block;
          }
        }

        .table {
          border-spacing: 0;
          border-collapse: collapse;
          margin: 0 0 20px;

          tr {
            th, td {
              border: 1px solid $chestnut-roze;
              padding: 5px;
            }
          }
        }

        border-bottom: 1px solid $japonica;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      :last-child {
        border-bottom: none;
      }
    }
  }
}