code {
  padding: 2px;
  background: rgba($japonica, 0.5);
  border-radius: 5px;
  border: 1px solid $alizarin-crimson;
  display: inline-block;
}

pre {
  code {
    &.language-javascript,
    &.language-json,
    &.language-bash {
      display: block;

      background: none;
      border: 0;
    }
  }
}