code {
  padding: 2px;
  background: rgba($japonica, 0.2);
  border-radius: 5px;
  color: $red;
  display: inline-block;
}

pre {
  code {
    &.language-javascript,
    &.language-json,
    &.language-bash {
      display: block;
      padding: 10px;
      background: rgba($silver, 0.2);
      border-radius: 5px;
      margin: 20px 0;
      color: initial;
    }
  }
}