// I might need to talk with Heinz/ Christ about a good readable font.
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-pa3f3y');
  src:url('../fonts/icomoon.eot?#iefix-pa3f3y') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-pa3f3y') format('woff'),
  url('../fonts/icomoon.ttf?-pa3f3y') format('truetype'),
  url('../fonts/icomoon.svg?-pa3f3y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}

.icon-github:before {
  content: "\eab1";
}

body {
  font-family: "Open Sans", sans-serif;
  color: #666;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
  color: #666;
}