* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  &.header {
    text-transform: uppercase;
    border-bottom: 2px solid $dusty-gray;
    margin-bottom: 10px;
  }
}

a {
  color: $veridian;

  &:hover {
    color: $black;
  }
}

hr {
  &.small {
    width: 40%;
    margin: 0 auto 10px;
    border: none;
    border-bottom: 1px solid $japonica;
  }
}