.sidebar {
  ul {
    padding: 0;
    list-style: none;

    li {
      &.nested {
        > a {
          &::after {
            @extend .caret;

            color: #3B8F6E;
            //border-top: 8px solid;
            //border-right: 8px solid transparent;
            //border-left: 8px solid transparent;
          }
        }

        &.active {
          > ul {
            display: block;
          }
        }

        > ul {
          padding: 0 0 0 20px;
          list-style: none;
          display: none;
        }
      }
    }
  }
}