$chestnut-roze: #cb625f;
$japonica: #d86865;
$alizarin-crimson: #e91c28;
$red: #c7254e;
$white: #ffffff;
$conifer: #b0d45c;
$dusty-gray: #989898;
$dove-gray: #6e6d6d;
$silver: #bbbbbb;
$mercury: #e6e6e6;
$veridian: #3B8F6E;
$black: #000000;