<!DOCTYPE html>
<html>
    <head>
        <title>Docs - Model</title>

        <link rel="stylesheet" href="/2.4/assets/css/style.min.css" />
        <link rel="canonical" href="https://getraddish.com/guide/getting-started/components/model.html" />

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-32550863-5', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="header " style="background-image: url(/assets/img/backgrounds/pattern.png);">
            <div class="container-fluid container-spaced">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-5">
                        <a href="/2.4/index.html" class="logo-image"><img src="/assets/img/logos/raddish.png" alt="logo"></a>
                    </div>
                    <div class="col-md-9 col-sm-6 col-xs-7">
                        <nav class="right helper">
                            <ul class="menu sf-menu js-menu">
                                <li><a href="/2.4/index.html">Home</a></li>
                                <li><a href="/2.4/features.html">Features</a></li>
                                <li><a href="/2.4/guide/index.html">Guide</a></li>
                                <li><a href="/2.4/api/index.html">API</a></li>
                                <li><a href="/2.4/blog.html">Blog</a></li>
                                <!--<li><a href="/2.4/community.html">Community</a></li>-->
                                <li><a href="/2.4/changelog.html">Changelog</a></li>
                                <li><a href="https://github.com/getraddished/raddish" target="_blank" style="font-size: 1.5em;"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="content">
            <div class="container-fluid container-spaced">
                <div class="layout with-left-sidebar js-layout">
    <div class="row">
        <div class="col-md-4 hidden-xs">
            <div class="js-sidebar-wrapper">
    <div class="sidebar">
        <nav class="menu-vertical-wrapper">
            <ul class="menu-vertical  js-menu-vertical tendina" data-prepend-to=".js-layout" data-select="Menu">
                <li><a href="/2.4/guide/index.html">Introduction</a></li>
                <li class="has-children">
                    <a href="/2.4/guide/essentials.html">Essentials</a>
                    <ul>
                        <li><a href="/2.4/guide/essentials/file-structure.html">File Structure</a></li>
                        <li><a href="/2.4/guide/essentials/urls.html">URLs</a></li>
                        <li><a href="/2.4/guide/essentials/identifiers.html">Identifiers</a></li>
                        <li><a href="/2.4/guide/essentials/config.html">Config</a></li>
                        <li><a href="/2.4/guide/essentials/component-config.html">Component Config</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="/2.4/guide/getting-started.html">Getting Started</a>
                    <ul>
                        <li><a href="/2.4/guide/getting-started/setup.html">Setup</a></li>
                        <li><a href="/2.4/guide/getting-started/applications.html">Applications</a></li>
                        <li>
                            <a href="/2.4/guide/getting-started/components.html">Components</a>
                            <ul>
                                <li><a href="/2.4/guide/getting-started/components/dispatcher.html">Dispatcher</a></li>
                                <li><a href="/2.4/guide/getting-started/components/controller.html">Controller</a></li>
                                <li><a href="/2.4/guide/getting-started/components/model.html">Model</a></li>
                                <li><a href="/2.4/guide/getting-started/components/table.html">Table</a></li>
                                <li><a href="/2.4/guide/getting-started/components/row.html">Row</a></li>
                                <li><a href="/2.4/guide/getting-started/components/rowset.html">Rowset</a></li>
                            </ul>
                        </li>
                        <li><a href="/2.4/guide/getting-started/behaviors.html">Behaviors</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="/2.4/guide/advanced.html">Advanced</a>
                    <ul>
                        <li><a href="/2.4/guide/advanced/system-calls.html">System calls</a></li>
                        <li><a href="/2.4/guide/advanced/plugins.html">Plugins</a></li>
                        <li><a href="/2.4/guide/advanced/mixins.html">Mixins</a></li>
                        <li><a href="/2.4/guide/advanced/sockets.html">Sockets</a></li>
                        <li><a href="/2.4/guide/advanced/logging.html">Logging</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
        </div>
        <div class="col-md-8">
            <h2 class="article-title">
                Docs
                <small>
                    - Model
                </small>
            </h2>

            <p>Within Raddish the model is responsible for getting all the data. The data layer is therefore separated into a few layers with the model as the primary layer.<br />
For all the select queries to Raddish the model will create and execute the queries to the selected database.</p>

<p>The model is also responsible for the definition of the states. For the query builder which we use to create the database queries I refer to the guide of the <a href="/2.4/guide/extras/universal-query.html">query builder</a>.</p>

<h2 id="default-behavior">Default behavior</h2>
<p>Within the models you have the query methods</p>

<ul>
  <li>buildQueryColumns</li>
  <li>buildQueryFrom</li>
  <li>buildQueryJoins</li>
  <li>buildQueryWhere</li>
  <li>buildQueryGroup</li>
  <li>buildQueryOrder</li>
</ul>

<p>Which might look like a sql query, this is used for the building of the queries.<br />
Although the query builder doesn’t care where the code is, it is advised to place the code in its respective place.</p>

<p>By default the model is aware of the unique columns in the database and its keys.<br />
The unique columns and keys will automatically be set and are automatically filtered on in the buildQueryWhere if the state has a value.</p>

<h3 id="states">States</h3>

<p>The states are set per model. To be specific, this is done in the constructor after the parent model is called.</p>

<p>There are some special cases, there are default states and unique columns.
The default states are added automatically in the parent model.</p>

<p>The default states are:</p>

<ul>
  <li>search</li>
  <li>limit</li>
  <li>offset</li>
</ul>

<h3 id="getitem-and-getlist">getItem and getList</h3>
<p>The getItem and getList are the methods which will queue the table object to get the data.<br />
When talking to external API’s or applications this is the place to do this. In here you can implement your own logics.</p>

<h3 id="example">Example</h3>
<p>In the following example we will show a little about the query builder, the states and how they relate to each other.</p>

<div class="code-highlight">
    <span class="js-copy-to-clipboard copy-code">copy</span>``
    
<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="kd">var</span> <span class="nx">Model</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'raddish'</span><span class="p">).</span><span class="nx">Model</span><span class="p">,</span>
    <span class="nx">util</span> <span class="o">=</span> <span class="nx">require</span><span class="p">(</span><span class="s1">'util'</span><span class="p">);</span>
    
<span class="kd">function</span> <span class="nx">FooModel</span><span class="p">(</span><span class="nx">config</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">Model</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="k">this</span><span class="p">,</span> <span class="nx">config</span><span class="p">);</span>
    
    <span class="k">this</span><span class="p">.</span><span class="nx">states</span><span class="p">.</span><span class="nx">insert</span><span class="p">(</span><span class="s1">'bar_id'</span><span class="p">,</span> <span class="s1">'int'</span><span class="p">);</span>
<span class="p">}</span>

<span class="nx">util</span><span class="p">.</span><span class="nx">inherits</span><span class="p">(</span><span class="nx">FooModel</span><span class="p">,</span> <span class="nx">Model</span><span class="p">);</span>

<span class="nx">FooModel</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">buildQueryWhere</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">query</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">states</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'bar_id'</span><span class="p">).</span><span class="nx">value</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">query</span><span class="p">.</span><span class="nx">where</span><span class="p">(</span><span class="s1">'tbl.bar_id'</span><span class="p">,</span> <span class="s1">'='</span><span class="p">,</span> <span class="k">this</span><span class="p">.</span><span class="nx">states</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'bar_id'</span><span class="p">).</span><span class="nx">value</span><span class="p">);</span>
    <span class="p">}</span>
    
    <span class="k">if</span><span class="p">(</span><span class="k">this</span><span class="p">.</span><span class="nx">states</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'search'</span><span class="p">).</span><span class="nx">value</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">query</span><span class="p">.</span><span class="nx">where</span><span class="p">(</span><span class="s1">'tbl.title'</span><span class="p">,</span> <span class="s1">'LIKE'</span><span class="p">,</span> <span class="s1">'%'</span> <span class="o">+</span> <span class="k">this</span><span class="p">.</span><span class="nx">states</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'search'</span><span class="p">).</span><span class="nx">value</span> <span class="o">+</span> <span class="s1">'%'</span><span class="p">);</span>
    <span class="p">}</span>
    
    <span class="k">return</span> <span class="nx">Model</span><span class="p">.</span><span class="nx">prototype</span><span class="p">.</span><span class="nx">buildQueryWhere</span><span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="k">this</span><span class="p">,</span> <span class="nx">query</span><span class="p">);</span>
<span class="p">};</span></code></pre></figure>

</div>

<h2 id="component-config">Component Config</h2>
<p>At this point the model object doesn’t support any component config values.</p>

        </div>
    </div>
</div>
            </div>
        </div>

        <footer>
            <div class="footer">
                <div class="container-fluid container-spaced">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer-logo-wrapper">
                                <a href="./index.html" class="logo-image "><img src="/assets/img/logos/logo.png" alt="logo"></a>
                                <br>

                                <p class="slogan">
                                    Let's cook software!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="footer-wrapper">
                                <span class="scroll-top js-scroll-top"><i class="fa fa-angle-up"></i></span>

                                <div class="docs-version js-docs-version">
                                    <span class="docs-current-version js-docs-current-version">v2.4</span>
                                </div>

                                <p class="copyright helper right">
                                    <a href="https://jvar.nl" target="_blank">Jvar</a>, all rights reserved. 2013 - 2016 ©
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/assets/js/all.min.js"></script>
    </body>
</html>