.navigation {
  @extend .clearfix;
  
  .brand {
    float: left;
    margin: 5px 0;
  }

  margin-bottom: 20px;
  border-bottom: 2px solid $alizarin-crimson;
  > * {
    display: inline-block;
  }

  ul.menu {
    float: right;
    text-align: right;

    li {
      list-style: none;
      display: inline-block;
      margin-top: -4px;
      padding: 20px 15px;

      &.active {
        background: $mercury;
      }

      a {
        text-decoration: none;
        color: $dove-gray;
      }
    }
  }
}