---
layout: default
---

<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="article-title" itemprop="name headline">
        {{page.title}}
    </h2>

    <ul class="article-meta">
        <li>
            <span class="article-meta-date article-meta-item" itemprop="datePublished">{{page.date | date: "%B %d, %Y"}}</span>
        </li>
        <li itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
            <span class="article-meta-author article-meta-item"><a href="#" itemprop="name">{{page.author}}</a></span>
        </li>
    </ul>

    <div class="article-content" itemprop="articleBody">
        {{content}}
    </div>
</article>