<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="http://getraddish.com{{page.url}}" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {% if page.keywords %}<meta name="keywords" content="{{page.keywords}}">{% endif %}
        {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}

        <title>Raddish - {{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}assets/css/raddish.css">
	    <link rel="stylesheet" href="{{site.baseurl}}assets/css/highlight.css">

        <!-- Custom JS -->
        <script src="{{site.baseurl}}assets/js/zepto.min.js"></script>
        <script src="{{site.baseurl}}assets/js/custom.js"></script>
        <script src="//www.google-analytics.com/analytics.js" async="true"></script>

        {% if page.url == '/index.html' %}
            <script type="application/ld+json">
            {
               "@context": "http://schema.org",
               "@type": "WebSite",
               "url": "https://www.getraddish.com/",
               "potentialAction": {
                 "@type": "SearchAction",
                 "target": "https://getraddish.com/search?q={search_term_string}",
                 "query-input": "required name=search_term_string"
               }
            }
            </script>
        {% endif %}
    </head>
    <body>
        <div class="header">
            <div class="header__logo"></div>
        </div>


        {{content}}

        <div class="footer">
            <p class="footer__text">
                Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
                <br/> Logo & design by <a href="http://karasu-d.nl/" target="_blank">Karasu Design</a>.
            </p>
        </div>
    </body>
</html>
