<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="http://getraddish.com{{page.url}}" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {% if page.keywords %}<meta name="keywords" content="{{page.keywords}}">{% endif %}
        {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}

        <title>Raddish - {{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}assets/css/template.css">
	    <link rel="stylesheet" href="{{site.baseurl}}assets/css/highlight.css">

        <!-- Custom JS -->
        <script src="{{ site.baseurl }}assets/js/zepto.min.js"></script>
        <script src="{{ site.baseurl }}assets/js/custom.js"></script>
        <script src="//www.google-analytics.com/analytics.js" async="true"></script>

        {% if page.url == '/index.html' %}
            <script type="application/ld+json">
            {
               "@context": "http://schema.org",
               "@type": "WebSite",
               "url": "https://www.getraddish.com/",
               "potentialAction": {
                 "@type": "SearchAction",
                 "target": "https://getraddish.com/search?q={search_term_string}",
                 "query-input": "required name=search_term_string"
               }
            }
            </script>
        {% endif %}
    </head>
    <body>
        <div class="navbar navbar-raddish">
	        <div class="container-fluid">
		        <div class="navbar-header">
			        <div class="navbar-brand">
                        <a href="/">
                            <img src="/assets/images/logo.svg" alt=""/>
                        </a>
			        </div>
		        </div>

                <ul class="nav navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <li class="nav-item {% if page.url == '/features.html' %}active{% endif %}"><a href="/features.html" class="nav-link" itemprop="url"><span itemprop="name">Features</span></a></li>
                    <li class="nav-item {% if page.url contains 'getting-started' %}active{% endif %}">
                        <a href="/guide/" class="nav-link" itemprop="url"><span itemprop="name">Guide</span></a>
                    </li>
                    <li class="nav-item {% if page.url contains 'api' %}active{% endif %}">
                        <a href="/api/" class="nav-link" itemprop="url"><span itemprop="name">API</span></a>
                    </li>
                    <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                        <a href="/blog.html" class="nav-link" itemprop="url"><span itemprop="name">Blog</span></a>
                    </li>
                    <li class="nav-item {% if page.url == '/support.html' %}active{% endif %}">
                        <a href="/support.html"  class="nav-link" itemprop="url"><span itemprop="name">Support</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/JaspervRijbroek/raddish" target="_blank">
                            <i class="icon-github"></i>
                        </a>
                    </li>
                </ul>
	        </div>
        </div>

        {% if page.url == '/index.html' %}
            {% include slider.html %}
        {% endif %}

        <div class="container">
            <div class="row">
                {% if page.navigation %}
                    <div class="sidebar">
                        {% include navigation/{{page.navigation}}.html %}
                    </div>
                    <article class="col-md-9" itemscope itemtype="http://schema.org/Article">
                {% else %}
                    <article class="col-md-12" itemscope itemtype="http://schema.org/Article">
                {% endif %}

                    {% if page.header %}
                        <div class="page-header">
                            <h1>{{page.header}}</h1>
                        </div>
                    {% endif %}

                    <meta itemprop="name" content="{{page.title}}">
                    {% if page.description %}<meta itemprop="description" content="{{page.description}}">{% endif %}
                    <meta itemprop="author" content="{{page.author}}"/>
                    <meta itemprop="url" content="{{page.url}}"/>

                    {% if page.override_only %}
                    <p class="override-only warning">
                        Notice! It is only required to add this code when creating an override <br/>
                        or when adding specialized code. Thus the system can operate without it.
                    </p>
                    {% endif %}

                    <div itemprop="articleBody">
                        {{content}}
                    </div>
                </article>
            </div>
        </div>

        <footer>
            <div class="container">
                <p class="text-center">
                    Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>
                    <br/> Logo & design by <a href="http://karasu-d.nl/" target="_blank">Karasu Design</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
