---
layout: default
---

<div class="guide">
    <aside class="sidebar">
        <ul>
            <li>
                <a href="/guide/">Introduction</a>
            </li>
            <li class="nested">
                <a href="/guide/essentials.html">Essentials</a>
                
                <ul>
                    <li>
                        <a href="/guide/essentials/basics.html">Basics</a>
                    </li>
                    <li>
                        <a href="/guide/essentials/request-response.html">Request and Response</a>
                    </li>
                    <li>
                        <a href="/guide/essentials/config.html">Config</a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
    <div class="content" itemscope itemtype="http://schema.org/Article">
        <meta itemprop="author" content="{{page.author}}"/>
        <meta itemprop="url" content="{{page.url}}"/>
        
        <h1 itemprop="name">{{page.title}}</h1>
        
        <div itemprop="articleBody"></div>
        {{content}}
    </div>
</div>