---
layout: default
---

<div class="layout with-left-sidebar js-layout">
    <div class="row">
        <div class="col-md-4 hidden-xs">
            <div class="js-sidebar-wrapper">
                <div class="sidebar">
                    <nav class="menu-vertical-wrapper">
                        <ul class="menu-vertical  js-menu-vertical tendina" data-prepend-to=".js-layout" data-select="Menu">
                            <li><a href="/guide/index.html">Introduction</a></li>
                            <li class="has-children">
                                <a href="#">Essentials</a>
                                <ul>
                                    <li><a href="/guide/essentials/file-structure.html">File Structure</a></li>
                                    <li><a href="/guide/essentials/urls.html">URLs</a></li>
                                    <li><a href="/guide/essentials/identifiers.html">Identifiers</a></li>
                                    <li><a href="/guide/essentials/config.html">Config</a></li>
                                    <li><a href="/guide/essentials/component-config.html">Component Config</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Getting Started</a>
                                <ul>
                                    <li><a href="/guide/getting-started/setup.html">Setup</a></li>
                                    <li><a href="/guide/getting-started/applications.html">Applications</a></li>
                                    <li>
                                        <a href="#">Components</a>
                                        <ul>
                                            <li><a href="/guide/getting-started/components/component-index.html">Component Index</a></li>
                                            <li><a href="/guide/getting-started/components/dispatcher.html">Dispatcher</a></li>
                                            <li><a href="/guide/getting-started/components/controller.html">Controller</a></li>
                                            <li><a href="/guide/getting-started/components/model.html">Model</a></li>
                                            <li><a href="/guide/getting-started/components/table.html">Table</a></li>
                                            <li><a href="/guide/getting-started/components/row.html">Row</a></li>
                                            <li><a href="/guide/getting-started/components/rowset.html">Rowset</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/guide/getting-started/behaviors.html">Behaviors</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Advanced</a>
                                <ul>
                                    <li><a href="/guide/advanced/system-calls.html">System calls</a></li>
                                    <li><a href="/guide/advanced/plugins.html">Plugins</a></li>
                                    <li><a href="/guide/advanced/mixins.html">Mixins</a></li>
                                    <li><a href="/guide/advanced/sockets.html">Sockets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="article-title">
                Docs
                <small>
                    - {{page.title_extra}}
                </small>
            </h2>

            {{content}}
        </div>
    </div>
</div>