// Header
//
// .header - Default header
//
// markup:
// <div class="{$modifiers}">
//    <div class="header__logo"></div>
// </div>
//
// Styleguide 3.3
.header {
  position: relative;
  height: 250px;
  width: 100%;
  content: " ";
  background: url(/assets/images/pattern.png) center center no-repeat;

  &__logo {
    position: relative;
    height: 100%;
    background: url(/assets/images/logo.svg) center center no-repeat;
    background-size: 25%;
  }
} 