// Input
//
// .control           - Default control group.
// .control--inline   - Inline control group.
//
// markup:
// <div class="{$modifiers}">
//    <label class="control__label">Label</label>
//    <sg-insert>2.1-1</sg-insert>
// </div>
//
// Styleguide 3.1
.control {
  &__label {
    margin: 0 0 5px 0;
    display: block;
  }

  &--inline {
    .control__label {
      margin: 0 5px 0 0;
      display: initial;
    }
  }
}