// Footer
//
// .footer - Default footer
//
// markup:
// <div class="footer">
//   <p class="footer__text text--center">Created by Jasper van Rijbroek</p>
// </div>
//
// Styleguide 3.2
.footer {
  margin-top: 20px;
  border-top: 3px solid $japonica;

  &__text {
    @extend .text--center;

    padding-top: 5px;
  }
}